<h1>Jobs</h1>
<table>
  <tr>
    <th>Date</th>
    <th>Status</th>
    <th>Details</th>
  </tr>
{% for job in object_list %}
  <tr>
    <td>{{ job.added|date:"DATETIME_FORMAT" }}</td>
    <td>{{ job.status }}</td>
    <td><a href='{% url "job-detail" job.pk %}'>See details</a></td>
  </tr>
{% endfor %}
</table>
<hr/>
<a href="{% url 'job-add' %}">New job</a>
